{%load static%}
body{
    background:url("{%static'cableadmin/images/wall2.jpg'%}");
    }
    .main{
    height:500;
    width:600;
    border:2px solid;
    background-color:rgba(98, 191, 144,0.6);
    position:relative;
    top:30px;
    left:10px;
    }
    table{
    position:fixed;
    top:10px;
    left:620px;
    }
    img{
    
    position:relative;
  
  
    }
    .p1{
    font-size:20px;
    position:relative;
    top:100px;
    }
    input{
    position:relative;
    top:100px;
    }
    button{
    position:relative;
    top:130px;
    }